<!-- author: Brett Bush -->

<h4><%= @survey.survey_name %> Results</h4>
<h5><%= @survey.survey_description %></h5>

<!-- Table for displaying survey results -->
<div id="scroll_table" class="user_listing" style="overflow-x:scroll;overflow-y:scroll;height:400px;width:100%;">
  <table class="report_results_table">
    <thead>
      <tr>
        <th class="report_results_td" style="white-space: nowrap">Username</th>
        <th class="report_results_td" style="white-space: nowrap">Date Completed</th>

        <!-- If there are survey questions -->
        <% if @survey_questions != nil %>

          <!-- For each survey question, display text as column header -->
          <% @survey_questions.each do |survey_question| %>

            <!-- Display question text -->
            <th class="report_results_td" style="white-space: nowrap">(<%= survey_question.display_order.to_i + 1 %>) <%= survey_question.text %></th>

            <!-- If multi_choice or sub_question type, list out options in header -->
            <% if survey_question.type == "sub_questions" %>

              <!-- Obtain survey question options in display order -->
              <% @survey_question_options_choices = SurveyQuestionOptionsChoice.where("survey_question_id = ?", survey_question.id).order('display_order ASC') %>

              <!-- For each survey question option, display a sepereate column header -->
              <% @survey_question_options_choices.each do |survey_question_options_choice| %>
                <th class="report_results_td" style="white-space: nowrap"><%= survey_question_options_choice.text %></th>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <!-- If there are users -->
      <% if @users != nil %>

      <!-- For each user, display their survey response information in alignment with headers -->
      <% @users.each do |user| %>

        <!-- Obtain this user's login information -->
        <% @login = Login.find(user.login_id) %>

        <!-- Obtain this user's user_survey for this survey -->
        <% @user_survey = UserSurvey.where('user_id = ? and survey_id = ?', user.id, @survey.id).first %>
        <tr>
          <td class="report_results_td"><!-- If there is a login --><% if @login != nil %><%= link_to(@login.username, user_path(user)) %><% end %></td>
          <td class="report_results_td"><%= @user_survey.date_completed %></td>

          <!-- If there are survey questions -->
          <% if @survey_questions != nil %>
            <!-- For each survey question, display this user's response -->
            <% @survey_questions.each do |survey_question| %>

              <!-- Switch on survey question type for different row output -->
              <% case survey_question.type when "short_answer" %>

              <!-- Obtain and display this user's short answer response -->
                <% @user_survey_response = UserSurveyResponse.where('user_survey_id = ? and survey_question_id = ?', @user_survey.id, survey_question.id) %>
                <% @user_survey_response.each do |user_survey_response| %>
                  <td class="report_results_td"><%= user_survey_response.response_text %></td>
                <% end %>

              <!-- Obtain and display this user's single choice response -->
              <% when "single_choice" %>
                <% @user_survey_response = UserSurveyResponse.where('user_survey_id = ? and survey_question_id = ?', @user_survey.id, survey_question.id) %>
                <% @user_survey_response.each do |user_survey_response| %>
                  <% @survey_question_option = SurveyQuestionOption.find(user_survey_response.survey_question_option_id) %>
                  <td class="report_results_td"><%= @survey_question_option.text %></td>
                <% end %>

              <!-- Obtain and display this user's multiple choice responses -->
              <% when "multi_choice" %>
                <% @user_survey_responses = UserSurveyResponse.where('user_survey_id = ? and survey_question_id = ?', @user_survey.id, survey_question.id) %>
                <td class="report_results_td">
                  <% @user_survey_responses.each do |user_survey_response| %>
                    <% @survey_question_option = SurveyQuestionOption.find(user_survey_response.survey_question_option_id) %>
                    <%= @survey_question_option.text %>
                    <%= ", " unless user_survey_response == @user_survey_responses.last %>
                  <% end %>
                </td>


              <!-- Obtain and display this user's subquestion responses -->
              <% when "sub_questions" %>
                <td class="report_results_td"></td>
                <% @survey_question_options_choices = SurveyQuestionOptionsChoice.where("survey_question_id = ?", survey_question.id).order('display_order ASC') %>
                <% @survey_question_options_choices.each do |survey_question_options_choice| %>
                  <% @user_survey_response = UserSurveyResponse.where('user_survey_id = ? and survey_question_id = ? and survey_question_options_choice_id = ?', @user_survey.id, survey_question.id, survey_question_options_choice.id).first %>
                  <% @survey_question_option = SurveyQuestionOption.find(@user_survey_response.survey_question_option_id) rescue nil%>
                  <td class="report_results_td"><%= @survey_question_option.text rescue nil %></td>
                <% end %>

              <!-- Default condition -->
              <% else %>
              <% end %>

            <% end %>
          <% end %>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
