<!-- author: Brett Bush -->

<!-- Table for displaying survey results -->
<div class="user_listing" style="overflow-x:scroll;overflow-y:scroll;height:400px;width:100%;">
  <table class="report_results_table">
    <thead>
      <tr>
        <!-- If there are survey questions -->
        <% if @survey_questions != nil %>

          <!-- For each survey question, display text as column header -->
          <% @survey_questions.each do |survey_question| %>

            <!-- Display question text -->
            <th class="report_results_td">(<%= survey_question.display_order.to_i + 1 %>) <%= survey_question.text %></th>

            <!-- If multi_choice or sub_question type, list out options in header -->
            <% if survey_question.type == "multi_choice" || survey_question.type == "sub_questions" %>

              <!-- Obtain survey question options in display order -->
              <% @survey_question_options = SurveyQuestionOption.where("survey_question_id = ?", survey_question.id).order('display_order DESC') %>

              <!-- For each survey question option, display a sepereate column header -->
              <% @survey_question_options.each do |survey_question_option| %>
                <th class="report_results_td"><%= survey_question_option.text %></th>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <!-- If there are users -->
      <% if @users != nil %>

      <!-- For each user, display their survey response information in alignment with headers -->
      <% @users.each do |user| %>

        <!-- Obtain this user's user_survey for this survey -->
        <% @user_survey = UserSurvey.where('user_id = ? and survey_id = ?', user.id, @survey.id) %>
        <tr>

          <!-- If there are survey questions -->
          <% if @survey_questions != nil %>

            <!-- For each survey question, display this user's response -->
            <% @survey_questions.each do |survey_question| %>

              <!-- Switch on survey question type for different row output -->
              <% case survey_question.type when "short_answer" %>

              <!-- Obtain and display this user's short answer response -->
                <% @user_survey_response = UserSurveyResponse.where('user_survey_id = ? and survey_question_id = ?', @user_survey.id, survey_question.id) %>
                <% @user_survey_response.each do |user_survey_response| %>
                  <td class="report_results_td"><%= user_survey_response.response_text %></td>
                <% end %>

              <!-- Obtain and display this user's single choice response -->
              <% when "single_choice" %>
                <% @user_survey_response = UserSurveyResponse.where('user_survey_id = ? and survey_question_id = ?', @user_survey.id, survey_question.id) %>
                <% @user_survey_response.each do |user_survey_response| %>
                  <td class="report_results_td"><%= user_survey_response.response_text %></td>
                <% end %>

              <!-- Obtain and display this user's multiple choice responses -->
              <% when "multi_choice" %>
                <% @survey_question_options = SurveyQuestionOption.where("survey_question_id = ?", survey_question.id).order('display_order DESC') %>
                <% @survey_question_options.each do |survey_question_option| %>
                  <% @user_survey_response = UserSurveyResponse.where('user_survey_id = ? and survey_question_id = ? and survey_question_option_id = ?', @user_survey.id, survey_question.id, survey_question_option.id) %>
                  <% @user_survey_response.each do |user_survey_response| %>
                    <td class="report_results_td"><%= user_survey_response.response_text %></td>
                  <% end %>
                <% end %>

              <!-- Obtain and display this user's subquestion responses -->
              <% when "sub_questions" %>
                <% @survey_question_options = SurveyQuestionOption.where("survey_question_id = ?", survey_question.id).order('display_order DESC') %>
                <% @survey_question_options.each do |survey_question_option| %>
                  <% @user_survey_response = UserSurveyResponse.where('user_survey_id = ? and survey_question_id = ? and survey_question_option_id = ?', @user_survey.id, survey_question.id, survey_question_option.id) %>
                  <% @user_survey_response.each do |user_survey_response| %>
                    <td class="report_results_td"><%= user_survey_response.response_text %></td>
                  <% end %>
                <% end %>

              <!-- Default condition -->
              <% else %>
              <% end %>

            <% end %>
          <% end %>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
