<div class="row">
  <div class="large-8 columns">
    <%= form_for @survey do |f| %>
      <% usersurvey = UserSurvey.find_by(user: current_login.user, survey: @survey) || @survey.user_surveys.build(user: current_login.user) %>
      <%= f.fields_for :user_surveys, build_responses(usersurvey) do |f_us| %>
        <%= f_us.hidden_field :user_id %>
        <%= f_us.fields_for :user_survey_responses do |f_response| %>
          <% r = f_response.object %>
          <% q = r.survey_question %>
          <%= f_response.hidden_field :survey_question_id %>
          <%= render q.type, q: q, r: r, f: f_response %>
        <% end %>
      <% end %>
      <%= submit_tag 'Submit', class: 'small success button' %>
    <% end %>
  </div>
</div>
